{% extends 'base.html.twig' %}

{% block title %}Edit PullRequest{% endblock %}

{% block body %}
    <h1>Edit PullRequest</h1>

    {{ include('pull_request/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
